<h1>Edit Dashboard "<%= @dashboard.title %></h1>

<% if Prosperity::Graph.exists? %>
  <ul>
    <% @dashboard.graphs.each do |graph| %>
      <li>
        <%= link_to graph.title, edit_graph_path(graph) %>
        -
        <%= link_to 'Delete', dashboard_dashboard_graphs_path(dashboard_id: @dashboard.id, graph_id: graph.id), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= form_tag({}, class: "link-graph", method: "POST") do %>
    <%= hidden_field_tag :dashboard_id, @dashboard.id %>
    <%= hidden_field_tag :url_template, dashboard_dashboard_graphs_path(dashboard_id: 'dashboard_id', graph_id: 'graph_id') %>

    <div class="well">
      <%= select_tag :graph_id, options_from_collection_for_select(Prosperity::Graph.all, :id, :title) %>
      <%= submit_tag "Add To Dashboard", class: 'btn btn-primary' %>
      or
      <%= link_to "Create New Graph", new_graph_path, class: 'btn btn-success' %>
    </div>
  <% end %>

<% else %>
    <div class="well">
      <%= link_to "Create New Graph", new_graph_path, class: 'btn btn-success' %>
    </div>
<% end %>

<p>
  <%= link_to "View Dashboard", @dashboard, class: 'btn btn-default' %>
</p>

