<h1><%= @dashboard.title %></h1>

<%= form_tag(dashboard_path(params[:id]), method: 'get') do %>
  <%= render 'prosperity/shared/date_range' %>
  <%= submit_tag "Update", class: 'btn btn-primary' %>
<% end %>

<% if @dashboard.graphs.empty? %>
  <p>No Graphs</p>
<% end %>

<% @dashboard.graphs.each do |graph| %>
  <div class="graph dashboard-graph">
    <h2 class="graph-title"><%= graph.title %></h2>
    <div class="graph-edit-link">
      <%= link_to 'edit', edit_graph_path(graph) %>
    </div>

    <div class="metric dashboard" data-url="<%= graph_path(graph, start_time: start_time) %>"></div>
  </div>
<% end %>

<p>
  <%= link_to "Edit this dashboard", edit_dashboard_path(@dashboard) %>
</p>
