<h1><%= @dashboard.title %></h1>

<%= form_tag(dashboard_path(params[:id]), method: 'get') do %>
  <%= render 'prosperity/shared/date_range' %>
  <%= submit_tag "Update", class: 'btn btn-primary' %>
<% end %>

<% @dashboard.graphs.each do |graph| %>
  <div class="graph">
    <h2><%= graph.title %></h2>

    <div class="metric" data-url="<%= graph_path(graph, start_time: start_time) %>"></div>
  </div>
<% end %>
