<div class="container">
  <div class="main">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>

  <%= stylesheet_link_tag "prosperity/application", :media => "all" %>
  <%= javascript_include_tag "prosperity/application" %>
</div>

<% parent_layout Prosperity.parent_layout %>
