<h1>
  <%= @metric.title %>
</h1>
<div class="metric" data-url="<%= url_for(params) %>"></div>

<h3>Options</h3>
<ul>
  <% @metric.options.each do |name, opt| %>
    <li>
      <%= link_to name, url_for(params.merge(option: name)) %>
    </li>
  <% end %>
</ul>

<h3>Period</h3>
<ul>
  <% Prosperity::Periods::ALL.each do |key, period| %>
    <li>
      <%= link_to key, url_for(params.merge(period: key)) %>
    </li>
  <% end %>
</ul>

<h3>Date</h3>

<%= form_tag url_for(params), method: "GET" do %>

  <% params.each do |k, v| %>
    <%= hidden_field_tag k, v %>
  <% end %>

  <div class="form-group">
    <%= label_tag :start_time %>
    <%= date_field_tag :start_time, start_time.to_date %>
  </div>

  <div class="form-group">
    <%= label_tag :end_time %>
    <%= date_field_tag :end_time, end_time.try(:to_date) %>
  </div>

  <%= submit_tag %>

<% end %>
