<h1>
  <%= @metric.title %>
</h1>

<div class="metric" data-url="<%= metric_path(params) %>"></div>

<%= form_tag(metric_path(params[:id]), method: 'get') do %>
  <h2>Settings</h2>
  <div class='well'>
    <h3>Option</h3>

    <%= select_tag :option, options_for_select(@metric.options.keys, option) %>

    <h3>Period</h3>
    <% Prosperity::Periods::ALL.each do |key, period_object| %>
      <%= radio_button_tag "period", key, key == period %>
      <%= label_tag "period_#{key}", key.titleize %>
    <% end %>

    <%= render 'prosperity/shared/date_range' %>
    <%= submit_tag "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
