<h1>Edit Graph</h1>

<div class="row">
  <div class="span6">
    <%= form_for @graph, data: {metric_options: @options} do |f| %>

      <%= render partial: 'common_fields', locals: {f: f} %>

      <h4>Lines</h4>
      <%= f.fields_for :graph_lines do |l| %>
        <div class="deletable-nested-attribute">
          <% if l.object.new_record? %>
            <h4>Add New Line</h4>
          <% end %>

          <div class="graph-line">
            <div class="form-group metric-title-select">
              <%= l.label :metric %>
              <%= l.select :metric, options_for_metric(@metrics), include_blank: true %>
            </div>

            <div class="form-group metric-option-select">
              <%= l.hidden_field :option %>
              <%= l.label :option %>
              <%= l.select :option, [] %>
            </div>

            <div class="form-group">
              <%= l.label :extractor %>
              <%= l.select :extractor, options_for_extractors %>
            </div>


            <% if l.object.persisted? %>
              <div class="form-group">
                <%= l.hidden_field :_destroy %>
                <%= link_to "Remove", "#", class: 'destroy-action' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.submit "Save & View", class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="span8">
    <div class="graph well"/>
      <div class="metric dashboard" data-url="<%= graph_path(@graph) %>"></div>
    </div>

    <div>
      <p>
      You can embed this graph by embedding the following snippet in your web page.
      </p>
      <input disabled value='<iframe height="400px" src="<%= graph_url(@graph) %>" style="border: none;" width="512px"></iframe>' />

    </div>
  </div>
</div>

