<h1>Edit Graph</h1>

<p>Title: <%= @graph.title%></p>

<div class="row">
  <div class="span6">
    <%= form_for @graph, data: {metric_options: @options} do |f| %>
      <h4>Lines</h4>
      <%= f.fields_for :graph_lines do |l| %>
        <% if l.object.new_record? %>
          <h4>Add New Line</h4>
        <% end %>

        <div class="graph-line">
          <div class="form-group metric-title-select">
            <%= l.label :metric %>
            <%= l.select :metric, @metrics.map{|m| [m.title, m.id]}, include_blank: true %>
          </div>

          <div class="form-group metric-option-select">
            <%= l.hidden_field :option %>
            <%= l.label :option %>
            <%= l.select :option, [] %>
          </div>

          <div class="form-group">
            <%= l.label :extractor %>
            <%= l.select :extractor, options_for_extractors %>
          </div>
        </div>
      <% end %>
      <%= f.submit "Save & View", class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="span8">
    <div class="graph well"/>
      <div class="metric" data-url="<%= graph_path(@graph) %>"></div>
  </div>
</div>

